<header class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <a routerLink="/" class="navbar-logo">
      🌍 ProyectoEuropa
    </a>
    
    <button class="navbar-toggle" (click)="isMenuOpen = !isMenuOpen">
      ☰
    </button>

    <!-- Links de navegación -->
    <nav class="navbar-links" [class.active]="isMenuOpen">
      <a routerLink="/home" routerLinkActive="active" (click)="isMenuOpen=false">Inicio</a>
      <a routerLink="/ciudades" routerLinkActive="active" (click)="isMenuOpen=false">Ciudades</a>
      <a routerLink="/cultura" routerLinkActive="active" (click)="isMenuOpen=false">Cultura</a>
      <a routerLink="/hoteles" routerLinkActive="active" (click)="isMenuOpen=false">Hoteles</a>
      <a routerLink="/contacto" routerLinkActive="active" (click)="isMenuOpen=false">Contacto</a>
    </nav>
  </div>
</header>
